
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your order has been placed successfully..</h2>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index","Products")'">Go To Product</button>